#imgDW{
    width: 80%;
    height: 80%;
    margin:8px 0;
}

#imgPET{
    width: 50%;
    height: 50%;
    margin:8px 0;
}

#imgEmails{
    width: 80%;
    height: 80%;
    margin:8px 0;
}

#imgProyectos{
    width: 80%;
    height: 80%;
    margin:8px 0;
}

#imgInnovacion{
    width: 80%;
    height: 80%;
    margin:8px 0;
}

#flechaDW{
    transition: all 0.5s ease-in-out;
}

#flechaPET{
    transition: all 0.5s ease-in-out;
}

#flechaEmails{
    transition: all 0.5s ease-in-out;
}

#flechaProyectos{
    transition: all 0.5s ease-in-out;
}

#flechaInnovacion{
    transition: all 0.5s ease-in-out;
}

